@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

body {
  font-family: "Overpass", sans-serif;
  background-color: rgb(144, 89, 89);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 10% auto;

  grid-template-areas:
    ". . ."
    ". main .";
  height: 100vh;
}

.mainContent {
  grid-area: main;
}

form {
  background-color: rgb(132, 121, 121);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
}

.title {
  grid-column-start: span 2;
  justify-self: center;
}

.submitButtom {
  grid-column-start: span 2;
  justify-self: center;
}
