@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --full-background-light: hsl(221, 84%, 84%);
  --full-background: hsl(221, 84%, 64%);
  --full-background-dark: hsl(221, 84%, 44%);
  --card-background: hsl(0, 0%, 100%);
  --card-shadow: hsl(0, 0%, 0%);
  --submit-button: rgb(87, 117, 240);
  --error: red;
  --success: green;
}

body {
  font-family: "Overpass", sans-serif;
  background-image: linear-gradient(to top left, var(--full-background-light), var(--full-background),var(--full-background-dark));
  /* background-color: var(--full-background); */
  display: grid;
  grid-template-columns: 10% 3fr 1fr 10%;
  grid-template-rows: 10% 80% 10%;

  grid-template-areas:
    ". . . ."
    ". description logInCard ."
    ". . . .";
  height: 100vh;
}

.description {
  grid-area: description;
  height: 100hv;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContent {
  grid-area: logInCard;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: s; */
  height: 50%;
  border: 10px solid var(--card-background);
  box-sizing: border-box;
  border-radius: 1em;
  box-shadow: 5px 10px 10px var(--card-shadow);
}

.title {
  grid-column-start: span 2;
  justify-self: center;
}

.submitButtom {
  width: 100%;
}
.submitButtom>input{
  background-color: var(--submit-button);
  width: 100%;
}

.inputFields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 50%; */
}

.inputFields input{
  border: 1px solid var(--full-background);
  border-radius: 1em;
}

.inputFields input:hover{
  border: 1px solid var(--full-background-dark);
  box-shadow: 5px 5px 1px var(--full-background-dark);
}
.inputFields input:focus{
  border: 1px solid var(--full-background-dark);
  outline: none;
}

.error{
  color: var(--error);
  background-color: grey;
}
.success{
  color: var(--success);
  background-color: white;
}

.inputFields  input.invalidInputBox{
  border: 1px solid var(--error);
}

.inputFieldErrorMessage{
  font-size: 50%;
  color: var(--error);
  display: none;
}
.inputFieldErrorMessage.visible {
  display: block;
}